$bg: #111;
$bgPlatform: #141414;
$col-a: #8c8c8c;
$col-b: #999;
$col-c: #fff;
$col-d: #ccc;
$col-e: #aaa;
$col-f: #777;
$col-g: #bbb;

$app_bar: #181818;

// Dimensions
$font-xsl: 8px;
$font-xs: 12px;
$font-sl: 14px;
$font-sm: 16px;
$font-rg: 18px;
$font-md: 24px;
$font-lg: 44px;
$font-lr: 50px;
$font-xl: 64px;

$padHor: 4.5vw;

$mainHor: 30px;

// Configs
$border-a: 1px solid #ddd;
$border-b: 1px solid $col-d;
$border-c: 1px solid #999;

// $sans: Spacegrotesk, sans-serif;

// Fonts
$mont: montreal;
$montbold: montreal2;
$serif: "Typey-light", serif;
$sans: "Typey-light", sans-serif;
$serifbold: "Typey-regular", serif;
$sansbold: "Typey-regular", sans-serif;
