body {
  width: 100vw;
  padding: 0px;
  height: 100vh;
  background: $bg;
  max-height: 100vh;
  overflow-x: hidden;
  font-size: $font-sm;
}

* {
  line-height: 1.2;
  overscroll-behavior: none;
}

#root {
  height: 100%;
}

.container {
  width: 100vw;
  display: flex;
  color: $col-a;
  font-weight: 300;
  font-family: $sans;
  position: relative;
  overflow-x: hidden;
  flex-direction: column;
}
