@mixin scrollMixin {
  &::-webkit-scrollbar {
    width: 8px;
    display: block;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    visibility: hidden;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

.platform_container {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background: $bgPlatform;
  font-family: $mont;
  letter-spacing: 0.5px;

  div,
  ul {
    display: flex;
  }
  ul {
    flex-direction: column;
  }

  .top_bar {
    width: 100%;
    height: 50px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    padding: 2px $mainHor 0px;
    justify-content: space-between;
    .call_notifications {
      gap: 6px;
      color: $col-d;
      flex-direction: row;
      font-size: $font-sl;
      align-items: center;
      i {
        margin-bottom: 2px;
      }
    }
    .call_info {
      gap: 18px;
      align-items: center;
      flex-direction: row;
      .participating_users {
        gap: 8px;
        color: $col-d;
        font-size: $font-sl;
        align-items: center;
        flex-direction: row;
        svg {
          fill: $col-d;
        }
        i {
          font-size: $font-sm;
        }
      }
      .profile_pic {
        padding: 1px;
        overflow: hidden;
        margin-right: 15px;
        border-radius: 100%;
        border: 1.5px solid $col-e;
        img {
          width: 20px;
          height: 20px;
          object-fit: cover;
          border-radius: 100%;
        }
      }
    }
  }

  .bottom_bar {
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-height: 68px;
    padding: 15px $mainHor 20px;
    justify-content: space-between;

    .left_bottom {
      gap: 10px;
      z-index: 2;
      .call_layout {
        gap: 6px;
        color: $col-d;
        flex-direction: row;
        align-items: center;
        svg {
          width: 18px;
          stroke: $col-d;
          .fill_svg {
            fill: $col-d;
          }
        }
      }
      .meeting_id {
        gap: 8px;
        color: $col-d;
        font-size: $font-sl;
        cursor: pointer;
        align-items: center;
        flex-direction: row;
        svg {
          fill: $col-f;
        }
        i {
          font-size: $font-sm;
        }
      }
    }

    .action_buttons_cover {
      width: $actionBarPad;
      height: 100%;
      align-items: center;
      position: absolute;
      justify-content: center;
      .action_buttons {
        gap: 13px;
        background: $bgPlatform;
        .action_button {
          width: 40px;
          height: 40px;
          color: $col-c;
          font-size: 19px;
          cursor: pointer;
          background: #444;
          border-radius: 100%;
          align-items: center;
          transition: 0.2s all;
          justify-content: center;

          svg {
            width: 16px;
            stroke: $col-d;
          }

          &.active {
            background: #f25348;
            &.raise_hand {
              background: #1a88fe;
            }
          }
        }
        .end_call {
          width: 58px;
          background: #f25348;
          border-radius: 20px;

          svg {
            width: 22px;
            stroke: $col-c;
            fill: $col-c;
          }
        }
      }
    }

    .status_n_activities {
      gap: 20px;
      z-index: 2;
      align-items: center;
      flex-direction: row;

      .busy_status {
        gap: 6px;
        width: 120px;
        cursor: pointer;
        color: #e49f93;
        padding: 4px 8px;
        border-radius: 6px;
        border: 1px solid #e49f9370;
        .busy_icon {
          width: 20px;
          height: 20px;
          align-items: center;
          border-radius: 100%;
          justify-content: center;
          border: 1px solid #e49f9390;
          i {
            font-size: $font-sl;
          }
        }
        &.active {
          color: #039393;
          border-color: #039393c0;
          .busy_icon {
            border-color: #039393c0;
          }
        }
      }

      .activites_tab {
        width: 32px;
        height: 32px;
        color: #999;
        margin-left: 16px;
        font-size: 16px;
        cursor: pointer;
        background: #444;
        border-radius: 100%;
        align-items: center;
        transition: 0.2s all;
        justify-content: center;
        svg {
          width: 16px;
          fill: $col-c;
        }
        &.active {
          color: $col-c;
        }
      }
    }

    @include media("<=tabletmed") {
      gap: 25px;
      justify-content: center;
      .action_buttons_cover {
        width: auto;
        position: relative;
      }
      .left_bottom {
        display: none;
      }
      .status_n_activities {
        .busy_status {
          display: none;
        }
        .activites_tab {
          width: 40px;
          height: 40px;
        }
      }
    }

    @include media("<=phonemed") {
      .action_buttons_cover {
        position: relative;
        .action_buttons {
          background: $bgPlatform;
        }
      }
    }
  }

  .main_container {
    flex: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    padding: 15px $mainHor 8px;

    .particpants_content {
      flex: 1;
      gap: 16px 16px;
      height: 100%;
      overflow: hidden;
      flex-wrap: wrap;
      flex-direction: row;
      .participant_item {
        flex: 1;
        align-self: center;
        min-height: calc(50% - 8px);
        min-width: calc(50% - 8px);
        max-width: calc(50% - 8px);
        max-height: calc(50% - 8px);
        border-radius: 8px;
        overflow: hidden;
        background: #222;
        align-items: center;
        justify-content: center;

        &.one_or_two {
          max-width: 100%;
          min-height: 70%;
        }
        &.just_one {
          height: 100%;
          max-width: 100%;
          background: transparent;
        }

        img,
        .name_circle {
          width: 40%;
          overflow: hidden;
          aspect-ratio: 1;
          max-width: 140px;
          max-height: 140px;
          border-radius: 100%;
          align-items: center;
          justify-content: center;
        }

        .name_circle {
          color: $col-c;
          font-size: $font-xl;
          line-height: 1 !important;
          font-family: $sansbold;
          text-transform: uppercase;
          p {
            padding-top: 20px;
          }
        }
        &.info_block {
          background: none;
          align-items: flex-start;
          justify-content: flex-start;
          .info_text {
            width: 100%;
            max-width: 500px;
            padding: 20px;
            font-size: $font-sl;
            color: #707070;
            line-height: 1.6;
            flex-direction: column;
            .info_hd {
              margin-bottom: 10px;
            }
            .can_do_list {
              gap: 10px;
              flex-direction: column;
              li {
                gap: 6px;
                display: flex;
                align-items: center;
                flex-direction: row;
              }
            }
          }
        }
      }

      @include media("<=desktop") {
        .participant_item {
          &.one_or_two {
            max-width: 100%;
            min-height: 50%;
            min-height: calc(50% - 8px);
          }
          &.just_one {
            max-height: 100%;
          }
        }
      }
      @include media("<=tablet") {
        .participant_item {
          .name_circle {
            font-size: 7vw;
            p {
              padding-top: 2vw;
            }
          }
        }
      }
      @include media("<=phonemed") {
        flex-direction: column;
        .participant_item {
          width: 450px;
          max-width: 100%;
          min-height: calc(25% - 16px);
          img,
          .name_circle {
            width: 60%;
            max-width: 100px;
          }
          .name_circle {
            font-size: 5vw;
            p {
              padding-top: 1vw;
            }
          }

          &.one_or_two {
            max-width: 100%;
            min-height: 50%;
            min-height: calc(50% - 8px);
          }
        }
      }

      @include media("<=phone") {
        .participant_item {
          .name_circle {
            font-size: 7vw;
          }
        }
      }
    }

    .activities_section {
      width: 350px;
      height: 100%;
      margin-left: 30px;
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
      flex-direction: column;

      @include media("<=desktop") {
        right: 30px;
        height: calc(100% - 23px);
        position: absolute;
      }
      @include media("<=phone") {
        width: calc(100% - 60px);
      }

      &.game_type {
        background: #222;
        .section_header {
          color: #fff;
        }
      }

      .section_header {
        font-size: 17px;
        padding: 0px 18px;
        padding-bottom: 20px;
        flex-direction: row;
        color: #000;
        flex-direction: column;

        .main {
          gap: 10px;
          align-items: center;
          flex-direction: row;
          .back_button {
            padding: 5px;
            cursor: pointer;
          }
        }
        .header_text {
          gap: 8px;
          width: 100%;
          margin-top: 15px;
          flex-direction: row;
          align-items: center;
          .sub {
            color: $col-b;
            line-height: 1.2;
            font-size: $font-sl;
          }
        }
      }

      .game_container {
        width: 100%;
        padding: 0px 15px;
        align-items: center;
        flex-direction: column;
        #game_container {
          border-radius: 5px;
          border: 1px solid #282828;
        }

        .game_score {
          width: 100%;
          margin-top: 20px;
          flex-direction: row;
          align-items: center;
          text-transform: uppercase;
          justify-content: space-between;
          justify-content: center;

          button {
            gap: 8px;
            color: #ddd;
            font-size: $font-sm;
            display: flex;
            cursor: pointer;
            padding: 6px 12px;
            border-radius: 20px;
            background: #333;
            flex-direction: row;
            align-items: center;
            border: 1px solid #444;
          }
        }
        .moving_instruction {
          margin-top: 10px;
          line-height: 1.4;
          text-align: center;
        }
        .game_controls {
          gap: 5px;
          width: 180px;
          margin-top: 20px;
          flex-direction: column;
          .row {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            button {
              color: #eee;
              padding: 3px 8px;
              font-size: 25px;
              cursor: pointer;
              border-radius: 8px;
              background: #666;
            }
            &.row1 {
              align-items: flex-start;
              i {
                margin-top: 6px;
              }
            }
            &.row2 {
              justify-content: space-between;
              i {
                margin-top: 6px;
              }
            }
            &.row3 {
              align-items: flex-end;
              i {
                margin-top: 6px;
              }
            }
          }
        }
      }

      .activities_options_container {
        width: 100%;
        height: 100%;
        padding: 25px 0px;
        flex-direction: column;

        .activities_options {
          width: 100%;
          display: flex;
          color: $col-e;
          flex-direction: column;
          li {
            width: 100%;
            display: flex;
            padding: 16px 18px;
            cursor: pointer;
            font-size: $font-sl;
            align-items: center;
            flex-direction: row;
            &:hover {
              background: rgba($color: #000000, $alpha: 0.05);
            }
            .option_icon {
              width: 38px;
              height: 38px;
              color: #777;
              font-size: 18px;
              overflow: hidden;
              margin-right: 15px;
              border-radius: 100%;
              align-items: center;
              justify-content: center;
              border: 1px solid #888;
              svg {
                width: 20px;
              }
              .small_txt {
                font-size: 10px;
                font-family: $montbold;
              }
            }
            .activity_name {
              color: #000;
              font-size: $font-sm;
            }
            .option_text {
              height: 38px;
              padding: 4px 0px;
              flex-direction: column;
              justify-content: space-between;
              .main {
                color: #000;
              }
              .sub {
                font-size: $font-xs;
              }
            }
          }
        }
      }

      .messaging_tab_container {
        width: 100%;
        height: 100%;
        padding: 25px 0px;
        flex-direction: column;

        .section_header {
          .download_chat {
            width: 27px;
            height: 27px;
            color: #fff;
            font-size: 17px;
            cursor: pointer;
            padding-left: 1px;
            overflow: hidden;
            border-radius: 100%;
            align-items: center;
            background: #999;
            justify-content: center;
          }
        }

        .chat_container {
          flex: 1;
          // width: 100%;
          overflow: hidden scroll;
          padding: 16px 0px;
          margin-right: 2px;

          @include scrollMixin();

          ul {
            width: 100%;
            padding: 0px 20px;
            padding-right: 12px;
            flex-direction: column;
            li {
              width: 100%;
              padding-top: 18px;
              margin-top: 12px;
              flex-direction: column;
              border-top: 1px solid #eee;
              &:first-child {
                margin-top: 0px;
                padding-top: 0px;
                border-top: none;
              }
              &:last-child {
                padding-bottom: 30px;
              }
              .sender_name_time {
                gap: 10px;
                font-size: 12px;
                margin-bottom: 8px;
                align-items: center;
                justify-content: space-between;
                .name {
                  color: #333;
                  font-size: $font-sm;
                  font-size: 13px;
                }
                .time {
                  margin-top: 2px;
                  text-transform: uppercase;
                }
              }
              .message_content {
                p {
                  width: 100%;
                  line-height: 1.2;
                  font-size: 13px;
                  color: #666;
                }
              }
            }
          }
        }
        .chat_input_container {
          align-items: center;
          flex-direction: row;
          padding: 16px 18px 0px;

          .input_cover {
            width: 100%;
            padding: 14px 0px;
            border-radius: 10px;
            align-items: center;
            flex-direction: row;
            background: rgba($color: #000000, $alpha: 0.06);
            textarea {
              flex: 1;
              outline: none;
              resize: none;
              border: none;
              padding: 0px 16px;
              line-height: 1.5;
              font-size: $font-sl;
              font-family: $mont;
              overflow: hidden;
              letter-spacing: 0.8px;
              background: transparent;
            }

            .send_message {
              display: flex;
              font-size: 20px;
              cursor: pointer;
              color: $col-e;
              padding: 0px 10px;
              align-items: center;
              justify-content: center;
              &.typing {
                color: #555;
              }
            }
          }
        }
      }

      .create_poll_container {
        width: 100%;
        height: 100%;
        padding: 25px 0px;
        flex-direction: column;
        .poll_form {
          flex: 1;
          overflow: hidden;
          margin-top: 30px;
          font-size: $font-sl;
          padding: 0px 16px;
          flex-direction: column;
          .poll_entry {
            flex-direction: column;

            .label {
              color: #555;
              padding-left: 8px;
              margin-bottom: 16px;
            }
            .input_cover {
              padding: 11.5px 0px;
              background: #f0f3f4;
              border-radius: 8px;

              textarea {
                flex: 1;
                outline: none;
                resize: none;
                border: none;
                padding: 0px 14px;
                line-height: 1.5;
                font-size: $font-sl;
                font-family: $mont;
                overflow: hidden;
                letter-spacing: 0.7px;
                background: transparent;
              }
            }
          }
          .options_header {
            color: #555;
            padding-left: 8px;
            margin: 30px 0px;
            &.preview {
              flex-direction: column;
              margin: 30px 0px 20px;
              .sub {
                font-size: 13px;
                color: #888;
                margin-top: 10px;
              }
            }
          }
          .add_option_cover {
            gap: 10px;
            align-items: center;
            flex-direction: row;
            input {
              flex: 1;
              height: 44px;
              border-radius: 8px;
              padding: 14px 16px;
              background: #f0f3f4;
            }
            .add_option {
              width: 44px;
              height: 44px;
              display: flex;
              font-size: 20px;
              cursor: pointer;
              color: #666;
              border-radius: 8px;
              background: #ddd;
              align-items: center;
              justify-content: center;
              // border: 1px solid #bbb;
            }
          }
        }

        .poll_title_preview {
          margin-bottom: 10px;
          line-height: 1.4;
          padding-left: 8px;
          color: #444;
        }

        .poll_options_preview_cover {
          flex: 1;
          overflow: hidden scroll;
          @include scrollMixin();
          .poll_options_preview {
            flex: 1;
            width: 100%;
            height: max-content;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            padding-bottom: 20px;
            align-content: flex-start;

            li {
              color: #555;
              cursor: pointer;
              padding: 7px 15px;
              line-height: 1.4;
              border-radius: 8px;
              height: max-content;
              border: 1px solid #ddd;

              &:hover {
                background: rgba($color: #000000, $alpha: 0.05);
              }
            }
          }
        }

        .create_button_cover {
          width: 100%;
          padding: 16px 16px 0px;
          .create_poll {
            width: 100%;
            padding: 12px 16px;
            display: flex;
            color: #666;
            cursor: pointer;
            font-size: $font-sm;
            border-radius: 8px;
            align-items: center;
            border: 1px solid #bbb;
            justify-content: center;
          }
        }
      }
    }
  }
}
